# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    target-branch: "dependabot"
    open-pull-requests-limit: 10
    versioning-strategy: increase
    schedule:
      interval: "daily"
      timezone: "Asia/Tokyo"
      time: "11:15"
    ignore:
      - dependency-name: "rails"
        versions: ["5.x"]
      - dependency-name: "puma"
        update-types: ["version-update:semver-major"]
