<div style="background-image: linear-gradient(#196989, #a6ce39); width: 50vw; height: 70vh; margin: 0 auto; color: white;">
  <h1 style="color: #a6ce39; padding: 5vh 0 0 10vh;">TRailers</h1>
  <div style="padding: 2vh 0 0 5vh; color: white;">
    <h1 style="color: white;"><%= @user.name %>様</h1>
    <h4 style="color: white;">お世話になっております。TRailers運営部です。</h4>
    <h4 style="color: white;">TRailersをご利用いただき、誠にありがとうございます！</h4><br>

    <h2 style="color: white;"><%= @user.name %>様の<%= @sns.provider %>でのログインを確認しました。</h2>

    <h4 style="color: white;">引き続きTRailersをよろしくお願いいたします。</h4>
  </div>
</div>