<h1>Notifications#index</h1>
<p>Find me in app/views/notifications/index.html.erb</p>

<%= link_to destroy_all_your_notifications_path, method: :delete do %>
    <i class="fas fa-trash" style="color: black;"></i>
    <h7 style="color: black;">全削除</h7>
<% end %>

<% @notifications.each do |notification| %>
    <% if notification.action == 'Chat' %>
      <%= link_to  chat_path(notification.visiter) do %>
      <p><%= "#{ notification.visiter.name }" + "さんからChatが届きました" %></p>
      <% end %>
    <% else %>
      <p><%= "#{ notification.visiter.name }" + "さんからGoodsが届きました" %></p>
      <% notification.checked = true %>
      <% notification.save %>               <!-- Goodsの通知は通知一覧画面への遷移時にチェックを付ける -->
    <% end %>
<% end %>
