<% if current_user.others_open == true %>
    <%= link_to count_view_others_users_path(current_user, user: {others_open: false}), method: :put do %>
    <h3>他の人のgoods数を非表示にする</h3><br>
    <% end %>
<% else %>
     <%= link_to count_view_others_users_path(current_user, user: {others_open: true}), method: :put do %>
    <h3>他の人のgoods数をオープンにする</h3><br>
    <% end %>
<% end %>