
 <% chats.each do |chat| %>
  <% if chat.user_id == current_user.id %>
  <div>
  <tbody>
    <tr>
      <th>
      <div id="<%= chat.id %>">
        <p class="text-break" style="text-align: left;">
          <%= chat.message %>
          <%= link_to chat_destroy_path(chat), method: :delete, remote: true do %>
            <i class="fa-solid fa-trash-can" style="color: #a6ce39;"></i>
          <% end %>
        </p>
      </div>
      </th>
      <th></th>
    </tr>
  </tbody>
  <% else %>
  <tbody>
    <tr>
      <th></th>
      <th>
        <p class="text-break font-weight-light" style="text-align: right;"><%= chat.message %></p>
      </th>
    </tr>
  </tbody>
  </div>
  <% end %>
<% end %>
