<div class="top_container">
    <%= link_to trailer_path do %>
      <div class="top_upper_side">
        <h1>TRailers<i class="fa-solid fa-comment-question"></i></h1>
      </div>
    <% end %>
    <div class="top_lower_side">
      <%= link_to new_user_session_path do %>
      <i class="fa-solid fa-train-subway-tunnel fa-fade fa-5x" style="--fa-animation-duration: 4s; --fa-fade-opacity: 0.6; color: #a6ce39;"></i>
      <% end %>
    </div>
</div>