<div class="top_container">
    <div class="top_icon">
      <%= link_to new_user_session_path do %>
        <h3><i class="fa-solid fa-train-subway-tunnel fa-fade fa-5x mr-lg-5 pr-lg-3" style="--fa-animation-duration: 4s; --fa-fade-opacity: 0.6; color: #a6ce39;"></i></h3>
      <% end %>
    </div>
</div>
