<div class="top_container">
    <%= link_to new_user_session_path do %>
      <div class="top_upper_side">
        <h1>Overview(aboutページ、実装予定)</h1>
      </div>
    <% end %>
    <%= link_to new_user_session_path do %>
      <div class="top_lower_side">
        <h1>Departure</h1>
      </div>
    <% end %>
</div>

