 <% begin %>
    <% if post.goods.mine_open == true %>
        <% if post.is_goods?(current_user) %>
          <p>
             <%= link_to post_goods_path(post), method: :delete, remote: true do %>
              ♥<%= post.goods.count %>
             <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to post_goods_path(post), method: :post, remote: true do %>
             ♡<%= post.goods.count %>
            <% end %>
          </p>
        <% end %>
    <% else %>
     <<h1>非公開です</h1>
    <% end %>
<% rescue %>
<p>レスキューで表示されました</p>
<% end %>