<div class="col offset-1 text-danger">
  <% if post.errors.any? %>
    <ul style="list-style: none;">
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <li><%= flash[:warning] %></li>
    </ul>
  <% else %>
    <ul style="list-style: none;">
      <li><%= flash[:warning] %></li>
    </ul>
  <% end %>
</div>
