<% all_genre = [] %>
<% @posts.each_with_index do |post, i| %>
  <% post.tag_list.each do |genre| %>
   <% all_genre[i] = genre %>
  <% end %>
<% end %>

<% all_genre.uniq.each do |genre| %>
 <div class="col-5 offset-1 col-md-3 mb-2 pl-md-5">
  <h3><%= link_to genre, posts_path(tag_name: genre),class: "text-info" %></h3>
 </div>
<% end %>