<div class="container-fluid">
  <div class="row justify-content-start">
  <%= render partial: 'posts/genre', locals: { posts: @posts } %>
 </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
     <table class="table table-borderless">
     <tbody>
      <%= render partial: 'posts/post_image_index', locals: { posts: @posts } %>
    </tbody>
   </table>
   <%= paginate @posts %>
  </div>
 </div>
</div>

<h1 id="arrow_top">
  <i class="fa-solid fa-hand-point-up" style="color: #1f8e83;"></i>
</h1>