<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-8 offset-md-1">
     <table class="table">
      <thead>
       <tr>
        <th>    </th>
        <th>題名</th>
        <th>感想</th>
        <th colspan="3"></th>
        <th>    </th>
       </tr>
     </thead>
     <tbody>
      <% @posts.each do |post| %>
       <tr>
        <td>
         <!-- リンク付き動画・画像 -->
        </td>
        <td><%= link_to post.title, post_path(post.id) %></td>
        <td><%= post.explanation %></td>

       </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div><!--row-->
</div><!--container-->

<h1 id="arrow_top">
  <i class="far fa-arrow-alt-circle-up fa-lg"></i>
</h1>
