<div style="background-image: linear-gradient(#196989, #a6ce39); width: 50vw; height: 70vh; margin: 0 auto; color: white;">
  <h1 style="color: #a6ce39; padding: 5vh 0 0 10vh;">TRailers</h1>
  <div style="padding: 2vh 0 0 5vh; color: white;">
    <p> お世話になっております。TRailers運営部です。</p>
    <p>いつもTRailersをご利用いただき、ありがとうございます。</p><br>

    <p>突然のメールで恐れ入りますが、TRailersへ何かお忘れになっている投稿がないでしょうか。</p>
    <p>TRailersは皆様の努力の結晶を「ちょっと見たい・ちょっと見せたい」をコンセプトにお届けしております。</p>
    <p>日頃お忙しいことと存じますが、運営部一同、皆様の投稿を心待ちにしております。</p><br>

    <p>引き続きTRailersをよろしくお願いいたします。</p>
  </div>
</div>

